{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="assets/css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    <!-- Custom styles for this template -->
    <!-- <link href="assets/css/main.css" rel="stylesheet"> -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/hover.zoom.js' %}"></script>
    <script src="{% static 'js/hover.zoom.conf.js' %}"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'page:index' %}">STANLEY</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="work" href="{% url 'work:index' %}">Work</a></li>
            <li><a href="{% url 'page:about' %}">About</a></li>
            <li><a href="{% url 'blog:post_index' %}">Blog</a></li>
            <li><a href="{% url 'page:contact' %}">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}

    <!-- +++++ Footer Section +++++ -->

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>My Bunker</h4>
                    <p>
                        Some Address 987,<br/>
                        +34 9054 5455, <br/>
                        Madrid, Spain.
                    </p>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4">
                    <h4>My Links</h4>
                    <p>
                        <a href="#">Dribbble</a><br/>
                        <a href="#">Twitter</a><br/>
                        <a href="#">Facebook</a>
                    </p>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4">
                    <h4>About Stanley</h4>
                    <p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
                </div><!-- /col-lg-4 -->

            </div>

        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="assets/js/bootstrap.min.js"></script> -->
  </body>
</html>
